.ng-hide-add, .ng-hide-remove {
  /* ensure visibility during the transition */
  display: block !important; /* yes, important */
}


.pre-accordion-ct {
    padding:0;
    margin-bottom: 10px;
/*    background-color: #e8e8e8; */
    @include pre-border-box;

    .pre-detail {
      transition: 0.6s linear all;
      max-height: 500px;
      opacity:1;
      overflow: hidden;
    }

    .pre-detail.ng-hide {
      max-height: 0;
    }

    .pre-main-head {
        position: relative;
        word-wrap: break-word;
        cursor:pointer;
        color: #18619c;
        padding: 4px 10px;
        margin-right:12px;
        background-color: #e8e8e8;
        border-radius: 4px;
        @include font(12px, 12px, bold);
        @include bordered(#d1d1d1, transparent, #d1d1d1, transparent);
        
        .pre-toggle-switch {
/*
            position: absolute;
            top:0;
            left:0;
*/
            @include pre-unselectable;

            .pre-icon-expand,
            .pre-icon-collapse {
                width: 14px;
                height: 12px;
                position: absolute;
                top: 4px;
                left: 8px;
                color: #898989;
                @include font(12px, 10px, normal);
            }
        }
    }
}

