
%button-label {
  font-family: Arial, verdana, sans-serif;
  top: 0;
  bottom: 0;
  left: 0;
  float:left;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  width: 50%;
}
.pre-switch-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 1px solid $dark-red;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  width: 80px;
  background-color: $pink;
  &.bg {
    background-color: $green;
    border: 1px solid $darker-green;
  }
  div.label-on, div.label-off {
    @extend %button-label;
    .handle{
      height: 38px;
      width: 38px;
      border-radius: 20px;
      border: 1px solid transparent;
      background-color: transparent;
      &.on {
        background-color: $white;
      }
    }
  }
  div.label-on {
    .handle{
      &.on {
        border: 1px solid $darker-green;
        color: $dark-green;
      }
    }
  }
  div.label-off {
    .handle{
      &.on {
        border: 1px solid $dark-red;
        color: $color-red-dark;
      }
    }
  }
}
