.resizable {
  position: relative;
}

.resizable.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

.rg-horizontal, .rg-vertical {
  display: block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  position: absolute;
  z-index: 1;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #fff;
  border: 1px solid #aaa;
}

.rg-horizontal {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  border-top: 0 solid #aaa;
  border-bottom: 0 solid #aaa;
}

.rg-vertical {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  border-left: 0 solid #aaa;
  border-right: 0 solid #aaa;
}

.rg-horizontal span, .rg-vertical span {
  position: absolute;
  box-sizing: border-box;
  display: block;
  border: 1px solid #999;
}

.rg-horizontal span {
  border-width: 0 1px;
  top: 50%;
  margin: -10px 0 0 2px;
  height: 20px;
  width: 5px;
}

.rg-vertical span {
  border-width: 1px 0;
  left: 50%;
  margin: 2px 0 0 -10px;
  width: 20px;
  height: 5px;
}

.section-content {
  overflow:auto;
}

#topnav {
  position: absolute;
  display: block;
  height: 35px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #eee;
}
#sidebar {
  background-color: #cfcfcf;
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  width: 200px;
  overflow: hidden;

}
#content {
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 200px;
  right: 0;
  overflow: hidden;
}
#one {
  position: absolute;
  top: 0;
  bottom: 360px;
  left: 0;
  right: 0;
  background-color: #FEE4E4;
  overflow: hidden;
}
#two {
  position: absolute;
  height: 360px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #FFC0C0;
}
#three {
  position: absolute;
  top: 0;
  bottom: 360px;
  left: 0;
  right: 0;
  background-color: #ddd;
  overflow: hidden;
}
#four {
  background-color: #C0C0C0;
  position: absolute;
  height: 360px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#five {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 420px;
  right: 0;
  overflow: hidden;
}
#six {
  background-color: #aedcc0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 420px;
  right: 0;
  overflow: hidden;
}
