.btn {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  font-family: Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  margin: 0;
  text-transform: uppercase;
  outline-color: transparent;
  outline-offset: 0;
  outline-style: none;
  outline-width: 0;
  font-size: 10px;
  line-height: 17px;
  font-weight: bold;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.btn.btn-primary {
  background: #eb862e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb862e), color-stop(100%, #9f5b1f));
  background: -webkit-linear-gradient(top, #eb862e 0%, #9f5b1f 100%);
  background: -ms-linear-gradient(top, #eb862e 0%, #9f5b1f 100%);
  background: -moz-linear-gradient(center top, #eb862e 0%, #9f5b1f 100%);
  background: -o-linear-gradient(top, #eb862e 0%, #9f5b1f 100%);
  background: linear-gradient(top, #eb862e 0%, #9f5b1f 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb862e', endColorstr='#9f5b1f')";
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-top: solid 1px #bc6b25;
  border-right: solid 1px #bc6b25;
  border-bottom: solid 1px #bc6b25;
  border-left: solid 1px #bc6b25;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
  color: white; }
.btn.btn-primary:hover {
  color: white;
  background: #687a91;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #687a91), color-stop(100%, #43566b));
  background: -webkit-linear-gradient(top, #687a91 0%, #43566b 100%);
  background: -ms-linear-gradient(top, #687a91 0%, #43566b 100%);
  background: -moz-linear-gradient(center top, #687a91 0%, #43566b 100%);
  background: -o-linear-gradient(top, #687a91 0%, #43566b 100%);
  background: linear-gradient(top, #687a91 0%, #43566b 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#687a91', endColorstr='#43566b')";
  border-top: solid 1px #505d6f;
  border-right: solid 1px #505d6f;
  border-bottom: solid 1px #505d6f;
  border-left: solid 1px #505d6f; }
.btn.btn-primary.disabled {
  color: white;
  background: #eb862e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb862e), color-stop(100%, #9f5b1f));
  background: -webkit-linear-gradient(top, #eb862e 0%, #9f5b1f 100%);
  background: -ms-linear-gradient(top, #eb862e 0%, #9f5b1f 100%);
  background: -moz-linear-gradient(center top, #eb862e 0%, #9f5b1f 100%);
  background: -o-linear-gradient(top, #eb862e 0%, #9f5b1f 100%);
  background: linear-gradient(top, #eb862e 0%, #9f5b1f 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb862e', endColorstr='#9f5b1f')";
  border-top: solid 1px #bc6b25;
  border-right: solid 1px #bc6b25;
  border-bottom: solid 1px #bc6b25;
  border-left: solid 1px #bc6b25;
  opacity: 0.5;
  zoom: 1;
  cursor: default; }
.lt-ie9 .btn.btn-primary.disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb862e', endColorstr='#9f5b1f'),progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
.btn.btn-secondary {
  background: #f3f4f5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f4f5), color-stop(100%, #d1d2d3));
  background: -webkit-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -ms-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -moz-linear-gradient(center top, #f3f4f5 0%, #d1d2d3 100%);
  background: -o-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f4f5', endColorstr='#d1d2d3')";
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b7b7b7;
  border-left: solid 1px #b7b7b7;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
  color: #363636; }
.btn.btn-secondary:hover {
  color: #5f7082;
  background: #f3f4f5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f4f5), color-stop(100%, #d1d2d3));
  background: -webkit-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -ms-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -moz-linear-gradient(center top, #f3f4f5 0%, #d1d2d3 100%);
  background: -o-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f4f5', endColorstr='#d1d2d3')";
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b7b7b7;
  border-left: solid 1px #b7b7b7; }
.btn.btn-secondary.disabled {
  color: #363636;
  background: #f3f4f5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f4f5), color-stop(100%, #d1d2d3));
  background: -webkit-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -ms-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -moz-linear-gradient(center top, #f3f4f5 0%, #d1d2d3 100%);
  background: -o-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f4f5', endColorstr='#d1d2d3')";
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b7b7b7;
  border-left: solid 1px #b7b7b7;
  opacity: 0.5;
  zoom: 1;
  cursor: default; }
.lt-ie9 .btn.btn-secondary {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f4f5', endColorstr='#d1d2d3'),progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
.btn.btn-filter-primary, .pre-button-group.bg-text .btn {
  background: #edf3fa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf3fa), color-stop(100%, #cad0d6));
  background: -webkit-linear-gradient(top, #edf3fa 0%, #cad0d6 100%);
  background: -ms-linear-gradient(top, #edf3fa 0%, #cad0d6 100%);
  background: -moz-linear-gradient(center top, #edf3fa 0%, #cad0d6 100%);
  background: -o-linear-gradient(top, #edf3fa 0%, #cad0d6 100%);
  background: linear-gradient(top, #edf3fa 0%, #cad0d6 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf3fa', endColorstr='#cad0d6')";
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-top: solid 1px #8b9eb6;
  border-right: solid 1px #8b9eb6;
  border-bottom: solid 1px #8b9eb6;
  border-left: solid 1px #8b9eb6;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
  color: #35526a; }
.btn.btn-filter-primary:hover, .pre-button-group.bg-text .btn:hover {
  color: white;
  background: #687a91;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #687a91), color-stop(100%, #43566b));
  background: -webkit-linear-gradient(top, #687a91 0%, #43566b 100%);
  background: -ms-linear-gradient(top, #687a91 0%, #43566b 100%);
  background: -moz-linear-gradient(center top, #687a91 0%, #43566b 100%);
  background: -o-linear-gradient(top, #687a91 0%, #43566b 100%);
  background: linear-gradient(top, #687a91 0%, #43566b 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#687a91', endColorstr='#43566b')";
  border-top: solid 1px #505d6f;
  border-right: solid 1px #505d6f;
  border-bottom: solid 1px #505d6f;
  border-left: solid 1px #505d6f; }
.btn.btn-filter-primary.disabled, .pre-button-group.bg-text .disabled.btn {
  color: #35526a;
  background: #edf3fa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf3fa), color-stop(100%, #cad0d6));
  background: -webkit-linear-gradient(top, #edf3fa 0%, #cad0d6 100%);
  background: -ms-linear-gradient(top, #edf3fa 0%, #cad0d6 100%);
  background: -moz-linear-gradient(center top, #edf3fa 0%, #cad0d6 100%);
  background: -o-linear-gradient(top, #edf3fa 0%, #cad0d6 100%);
  background: linear-gradient(top, #edf3fa 0%, #cad0d6 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf3fa', endColorstr='#cad0d6')";
  border-top: solid 1px #8b9eb6;
  border-right: solid 1px #8b9eb6;
  border-bottom: solid 1px #8b9eb6;
  border-left: solid 1px #8b9eb6;
  opacity: 0.5;
  zoom: 1;
  cursor: default; }
.lt-ie9 .btn.btn-filter-primary.disabled, .lt-ie9 .pre-button-group.bg-text .disabled.btn, .pre-button-group.bg-text .lt-ie9 .disabled.btn {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf3fa', endColorstr='#cad0d6'),progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
.btn.btn-filter-secondary {
  background: #f3f4f5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f4f5), color-stop(100%, #d1d2d3));
  background: -webkit-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -ms-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -moz-linear-gradient(center top, #f3f4f5 0%, #d1d2d3 100%);
  background: -o-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f4f5', endColorstr='#d1d2d3')";
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b7b7b7;
  border-left: solid 1px #b7b7b7;
  padding-top: 2px;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
  color: #363636; }
.btn.btn-filter-secondary:hover {
  color: #5f7082;
  background: #f3f4f5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f4f5), color-stop(100%, #d1d2d3));
  background: -webkit-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -ms-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -moz-linear-gradient(center top, #f3f4f5 0%, #d1d2d3 100%);
  background: -o-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f4f5', endColorstr='#d1d2d3')";
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b7b7b7;
  border-left: solid 1px #b7b7b7; }
.btn.btn-filter-secondary.disabled {
  color: #363636;
  background: #f3f4f5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f4f5), color-stop(100%, #d1d2d3));
  background: -webkit-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -ms-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: -moz-linear-gradient(center top, #f3f4f5 0%, #d1d2d3 100%);
  background: -o-linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  background: linear-gradient(top, #f3f4f5 0%, #d1d2d3 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f4f5', endColorstr='#d1d2d3')";
  border-top: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b7b7b7;
  border-left: solid 1px #b7b7b7;
  opacity: 0.5;
  zoom: 1;
  cursor: default; }
.lt-ie9 .btn.btn-filter-secondary.disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f4f5', endColorstr='#d1d2d3'),progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
.btn.btn-tertiary, .btn.btn-icon-filter-primary, .btn.btn-icon-filter-secondary, .btn.btn-icon, .btn.btn-group, .btn.btn-icon-toggle, .btn.btn-icon-toggle-active, .btn.btn-dropdown, .btn.btn-task, .btn.btn-small-pair, .btn.btn-small-pair-active, .btn.btn-small-group, .btn.btn-small-group-active, .btn.btn-large-group, .btn.btn-large-group-active, .btn.btn-bar, .btn.btn-bar-active, .btn.btn-small-tabset, .btn.btn-small-tabset-active, .btn.btn-utility-a, .btn.btn-utility-b, .btn.btn-dataview-toggle-a, .btn.btn-dataview-toggle-b, .btn.btn-large-badge, .btn.btn-large-badge-active, .btn.btn-end-call {
  display: none; }
.btn.btn-group-active, .pre-button-group.bg-text .btn.active {
  color: white;
  background: #687a91;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #687a91), color-stop(100%, #43566b));
  background: -webkit-linear-gradient(top, #687a91 0%, #43566b 100%);
  background: -ms-linear-gradient(top, #687a91 0%, #43566b 100%);
  background: -moz-linear-gradient(center top, #687a91 0%, #43566b 100%);
  background: -o-linear-gradient(top, #687a91 0%, #43566b 100%);
  background: linear-gradient(top, #687a91 0%, #43566b 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#687a91', endColorstr='#43566b')";
  -webkit-box-shadow: inset 2px 21px 6px #43566b;
  box-shadow: inset 2px 21px 6px #43566b;
  border-top: solid 1px #505d6f;
  border-right: solid 1px #505d6f;
  border-bottom: solid 1px #505d6f;
  border-left: solid 1px #505d6f;
  cursor: default; }
.btn + .btn {
  margin-bottom: 0;
  margin-left: 5px; }

.clearfix, .pre-legend-table.pre-legend-horizontal > li:nth-last-child(1), .pre-grid-container .pre-header, .pre-grid-container .pre-body, .pre-grid-container .pre-totals, .pre-grid-container .pre-pager-control, .clamp-container, .pre-window-wrapper .pre-window .pre-window-footer {
  zoom: 1; }
.clearfix:before, .pre-legend-table.pre-legend-horizontal > li:nth-last-child(1):before, .pre-grid-container .pre-header:before, .pre-grid-container .pre-body:before, .pre-grid-container .pre-totals:before, .pre-grid-container .pre-pager-control:before, .clamp-container:before, .pre-window-wrapper .pre-window .pre-window-footer:before, .clearfix:after, .pre-legend-table.pre-legend-horizontal > li:nth-last-child(1):after, .pre-grid-container .pre-header:after, .pre-grid-container .pre-body:after, .pre-grid-container .pre-totals:after, .pre-grid-container .pre-pager-control:after, .clamp-container:after, .pre-window-wrapper .pre-window .pre-window-footer:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
.clearfix:after, .pre-legend-table.pre-legend-horizontal > li:nth-last-child(1):after, .pre-grid-container .pre-header:after, .pre-grid-container .pre-body:after, .pre-grid-container .pre-totals:after, .pre-grid-container .pre-pager-control:after, .clamp-container:after, .pre-window-wrapper .pre-window .pre-window-footer:after {
  clear: both; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none; }
